@media only screen and (max-width: 668px){
    nav ul{
        display: none;
    }

    .textarea{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-left: 0px;
        width: 100%;
    }

    .textarea p{
        font-size: 20px;
        margin: 30px;
    }
    .textarea h1{
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #name{
        font-size: 30px;
    }

}