*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#frontPage{
    height: 100vh;
    width: 100%;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav img{
    height: 100px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    margin: 20px;
    border-bottom: 4px solid black;
    transition: 0.5s;
}
nav ul li:hover{
    margin: 20px;
    border-bottom: 4px solid #ff004f;
}

nav ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.textarea{
    margin: 100px;
    margin-top: 200px;
}

.textarea p{
    color: white;
    font-size: 5vh;
}
.textarea h1{
    color: white;
    font-size: 10vh;
}

#name{
    color: #ff004f;
}